*.class
target
#IDEA files
.idea
*.iml
*.ipr
*.iws
# Package Files #
*.jar
*.war
*.ear
# Eclipse
.settings
.p*
.c*
*.mul
# Misc
*.log
.DS_Store
MANIFEST.MF
ConfigRoot
rebel.xml
raptor.xml
var/cache
jarsToSkip.txt
node_modules

